.center{
    align-items: center;
    text-align: center;
    vertical-align: center;
}
.right{
  align-items: flex-end;
  text-align: right;
}
.m-b-10{
  margin-bottom: 10px;
}
.m-t-20{
  margin-top: 20px;
}
.m-b-20{
  margin-bottom: 20px;
}
.w100{
  width: 100%;
}
.navbar-expand .navbar-nav {
  flex-direction: column !important;
}
.m-l-5{
  margin-left: 5px;
}
.errorlabel{
  background-color: rgb(214, 72, 72);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}